body {
    margin: 0;
    padding: 0;
}

.logo {
    background-color: darkred;
    padding: 15px;
    margin-left: 50px;
    height:20px;
    width: 20px;
    border-radius: 50%;
    background-position-x: center;
    background-image: url('https://i.pinimg.com/originals/5e/c4/1c/5ec41cd23d114bd6e1245146639a7571.gif');
    background-size: cover;
}

.main-header {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: rgba(83, 84, 87, 0.911);
    width: 100%;
    height: 60px;
    align-items: center;
    position: fixed;
}

.nav-links {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 18px;
    padding-right: 100px;
    
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 0.5px solid rgb(255, 255, 255);
    padding: 5px  15px 5px 15px;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: rgb(226, 225, 223);
    color: rgb(48, 22, 22);
    transition: 0.3s;
    border: 0.5px solid rgb(255, 255, 255);
}

.span {
    font-weight: bold;
    color: rgb(255, 123, 0);
}

.home-page {
    text-align: center;
    align-content: center;
    /* margin-top: 0px; */
    font-size: 24px;
    font-weight: bold;
    color: rgb(45, 58, 59);
    height: 100vh;
    background-color: rgb(184, 212, 201);
}


.form-page {
    text-align: center;
    align-content: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(45, 58, 59);
    height: 100vh;
    background-color: rgb(139, 179, 190);
    border-top: #222222 1px solid;

}

.form-container {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 12px 18px;
  align-items: center;
  max-width: 500px;
  margin: 30px auto;
  box-sizing: border-box;
  background-color: #dbdff7;
  padding: 30px 80px 30px 80px;
  border-radius: 5px;
}


.form-input {
  display: contents;
}


.form-container label {
  text-align: left;
  font-size: 18px;
  color: #464444;
  margin-left: -60px;
  padding: 5px;
  border-radius: 5px;
  /
}
.form-container label::after {
  content: " :";
  padding-left: 10px;
  color: #555353;
}


.form-container input,
.form-container textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  padding: 8px 10px;
  border: 1px solid #8494ec;
  background-color: #e2fce9;
  border-radius: 6px;
  outline: none;
}


.form-container textarea {
  min-height: 110px;
  resize: vertical;
}


.btn-submit {
  justify-self: start;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(81, 187, 146);
  color: #fff;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: rgb(50, 141, 110);
  transition: 0.3s;
}

.main-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.judul-table {
    border: #222222 1px solid;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: #c6cbe2;
}

.table-todo {
    height: 100vh;
    background-color: #dbdff7;
    padding-top: 10px;
    border-top: #222222 1px solid;
    padding-top: 100px;

    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(45, 58, 59);
}

.table-todo p{
    margin-top: 50px;
    margin-bottom: 50px;

}

.main-table tr th{
    border: solid 1px black;
    font-size: 20px;
}

.main-table tr td{
    border: solid 1px black;
    text-align: center;
    font-size: 18px;
    padding: 5px;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: #c6cbe2;
    color: #333;
    font-size: 18px;
}


/* responsive design untuk tampilan form di perangkat mobile */
@media (max-width: 600px) {
    .form-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    
    .form-container label {
        margin-left: 0;
        text-align: left;
        padding: 5px 0;
        font-size: 12px;
        padding-left: 20px;
    }

    .logo {
        display: none;
    }

    .nav-links {
        padding-right: 20px;
        gap: 2px;
        font-size: 14px;
    }

    .main-header {
        justify-content: center;
    }

    .judul-table tr th {
        font-weight: normal;
        font-size: 15px;
    }

    .main-table tr th{
    font-size: 15px;
    }

    .table-todo {
        font-weight: normal;
    }

    
    .form-container input,
    .form-container textarea {
        background-color: #e2fce900;
    }
}